.featured
  .wrapper
    %h1= @featured.title

    .featured-video
      .flex-col
        = raw @featured.embed_html
        %p Pick f the Week!
      .description
        - if @featured.description.present?
          %p= @featured.description

        %p
          Every week the community contemplates, deliberates, and after much
          consideration, they cast their vote.


  %ul.scene
    %li.layer{ data: { depth: '1' }}= image_tag 'background.jpg'

.weekly-videos
  .wrapper
    %h1 Cast your Vote!
    %p
      Each person gets one vote. In the list below, click on your favorite
      video. The video with the most votes will be the featured video next week.

    .videos
      - @videos.each do |video|
        .video[video]{ class: ('chosen' if video.id == @chosen_one.try(:id)) }
          = link_to 'vote', method: 'post', remote: true, data: { params: { video: video.id }.to_param } do
            = image_tag video.thumbnail_url

    %p.votification-notice Your vote has so totally been saved.


    %p.spiffy-paragraph
      Check back each week to cast your vote on new videos. The list is refreshed every Monday morning and will
      include the previous week's videos.
- unless @cookies_ok
  .cookies
    = link_to 'close', 'share_cookies', remote: true, method: 'post', class: 'close'
    .wrapper
      %p By continuing to use this site, you agree to share your cookies.

  = link_to 'http://icecreamsandwichcomics.com/post/157923361474/you-are-only-making-him-more-powerful-full-image', target: '_blank', class: 'fool' do
    = image_tag 'fool.png'

:javascript
  $('.scene').parallax()
