%ul.scene
  %li.layer{ data: { depth: '1' }}= image_tag 'banner.jpg'

.content
  %h1 The Story of the Fruit

  .baby.photo
    .caption Earliest known photo of Mr. Fruit
    = image_tag 'fruit-baby.png'

  %p
    Mr. Fruit is a gaming sensation that inspires his loyal and fruity followers, known as Fruit Nation. This is the short, thrilling, and 100% accurate tale of how he came to be the Fruit we all know and love today. If you'd rather get right to the good stuff, head on over to his
    = link_to 'YouTube channel', 'https://www.youtube.com/user/MyMisterFruit', target: '_blank'
    for the latest and greatest of Fruity wonder.

  %p From a very young age, Mr. Fruit was loved by everyone around him. Even in the earliest of photos, he is shown surrounded by friends and family. They were always very supportive of him and his endeavors, which is quite fortunate, because they were many.

  .campaign.photo.alt.small
    .caption Fruit's Campaign Poster
    = image_tag 'fruit-campaign.png'

  %p Like many other great minds of our time, Fruit always believed his future lay outside the world of academic achievement. He tried a plethora of things while growing up, and after many "near" successes (mostly failures), he found he had a knack for politics. Initially, his campaign consisted soley of audo recordings and his following grew at an astounding rate.

  %p Eventually, of course, Fruit started using posters in an attempt to gain even more popularity. To his surprise, support began to wane. He started releasing campaign videos and making more posters, but despite all of his efforts, the people seemed to be losing interest.

  .model.photo
    .caption Mr. Fruit in his Modeling Prime
    = image_tag 'fruit-model-car.png'

  %p Picking up the pieces from the shambles of his campaign, Fruit was faced with a difficult decision. What should he do next? After some careful examination and observation, he decided that the initial wave of success during his campaign was due to people loving his look. And so, Mr. Fruit barrelled head-first into the modeling industry.

  %p For some reason still unknown to this day, he only ever wanted to be a car model. More specifically, a van model. He spent some time doing various jobs around the world, always with different types of vans. It didn't take too long for him to realize that it was actually his voice the people loved. He decided to go home, play video games, and add his voice to them. The rest is Fruity history.

  .dream.photo.alt.small
    .caption Mr. Fruit & The Dream Team
    = image_tag 'fruit-dream.jpg'

  %p In all seriousness though, Mr. Fruit is one of the kindest, most genuine, and most unique souls in the gaming community. He consistently provides us with incredibly enjoyable content to detox from the harshness of the world. He inspires us to be passionate and keep our chins up in the face of any adversity.

  %p Mr. Fruit also commonly games with his two buds, Blue (link needed) and RhabbyV (link available?). This handsome and talented trio is known to the community as the `Dream Team`. Blue is known for his resourcefulness, common sense, and rugged good looks. RhabbyV is known for his proliforuous death count, wonderful attitude, and keeping the chaos meter high. Mr. Fruit is the glue that holds this epic and Dreamy fruit cake together. His is outgoing and goofy and supremly handy with firearms.


:javascript
  $('.scene').parallax()
